# IDEs
*.vscode

#latex
*.aux
*.fls
*.log
*.synctex.gz
*.blg
*.bbl
*.fdb_latexmk
*run.xml
*.bcf
*.out
*.glo
*.mtc*
*.ist
*.toc
*.acn
*.lof
*.lot
*.maf
*.bbl
thesis.pdf

#intermediary files
*.synctex(busy)
*~$*